<nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="home" routerLinkActive="active"
          >Accueil</a
        >
        <a class="nav-link" routerLink="details" routerLinkActive="active"
          >Details</a
        >
        <a class="nav-link" routerLink="panier" routerLinkActive="active"
          >Panier</a
        >
        <a class="nav-link disabled">Plus d'options bientôt...</a>
      </div>
    </div>
  </div>
</nav>
