<div *ngIf="plant.url_picture" class="overview d-flex align-items-stretch">
  <div class="custom-main container p-3">
    <div class="row">
      <img
        src="{{ plant.url_picture }}"
        class="card-img"
        alt="image de {{ plant?.name }}"
      />

      <div class="product-content">
        <app-avis-bar></app-avis-bar>
      </div>
      <div>
        <h2>{{ plant?.name }}</h2>

        <h2>{{ plant?.breadcrumb_label }}</h2>
      </div>
      <span class="align-bottom"> {{ plant?.unitprice_ati }} € </span>
      <div>
        <h4>Stock : {{ plant?.qty }}</h4>
      </div>
      <a href="#" class="btn btn-success">Ajouter au panier !</a>
    </div>
  </div>
</div>
