<div class="plant card" style="width: 14rem" *ngFor="let plant of data">
  <app-icon
    class="like"
    [name]="'heart'"
    [size]="1"
    [color]="'#e35d6a'"
  ></app-icon>
  <img src="{{ plant.product_url_picture }}" class="card-img-top" alt="..." />
  <!-- src product_url_picture -->
  <!-- alt product_name -->
  <div class="card-body">
    <h6 class="card-title">{{ plant.product_name }}</h6>
    <!-- product_name -->
    <div class="card-content">
      <app-avis-bar></app-avis-bar>
    </div>
    <!-- a terme la bar d'avis -->
    <div class="d-flex flex-row align-items-end justify-content-between">
      <div class="card-content">
        <span class="align-bottom">{{ plant.product_unitprice_ati }}€</span>
        <!-- product_unitprice_ati -->
      </div>
      <a href="#" class="btn btn-success">Ajouter au panier</a>
    </div>
  </div>
</div>
