<div class="overview d-flex align-items-stretch">
  <div class="custom-main container p-3">
    <div class="row">
      <img
        src="{{ plant?.product_url_picture }}"
        class="card-img"
        alt="image de {{ plant?.product_name }}"
      />

      <div class="product-content">
        <app-avis-bar></app-avis-bar>
      </div>
      <div>
        <h2>{{ plant?.product_name }}</h2>

        <h2>{{ plant?.product_breadcrumb_label }}</h2>
      </div>
      <span class="align-bottom"> {{ plant?.product_unitprice_ati }} € </span>
      <div>
        <h4>{{ plant?.product_instock }}</h4>
      </div>
      <a href="#" class="btn btn-success">Ajouter au panier !</a>
    </div>
  </div>
</div>
